@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.texto{
    color: white;
    text-align: center;
    margin: 300px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
body {
    background: linear-gradient(300deg,#2300ff,#00d4ff,#ff005f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }